.idea
extension-src/.temp/
*.lo
*.la
*.o
*.so
*.lai
extension-src/ext/Makefile.global
extension-src/ext/acinclude.m4
extension-src/ext/aclocal.m4
extension-src/ext/autom4te.cache/
extension-src/ext/build/
extension-src/ext/config.guess
extension-src/ext/config.h.in
extension-src/ext/config.sub
extension-src/ext/configure
extension-src/ext/configure.in
extension-src/ext/install-sh
extension-src/ext/ltmain.sh
extension-src/ext/missing
extension-src/ext/mkinstalldirs
extension-src/ext/run-tests.php
extension-src/ext/.deps
extension-src/ext/Makefile
extension-src/ext/Makefile.fragments
extension-src/ext/Makefile.objects
extension-src/ext/config.h
extension-src/ext/config.log
extension-src/ext/config.nice
extension-src/ext/config.status
extension-src/ext/libtool
extension-src/ext/.libs/
extension-src/ext/modules/